 
		body
		{
			background-color:pink ;
		}
.content
{
	background-color:#fefbfa;
}
		h1

	    {
	    	font-family: "myfont","tahoma";
			font-size: 50px;
			text-align: center;
			margin-bottom: 70px;
		
	    }
	
	 @font-face
			{
				font-family: myfont;
				src:url(fonts/OEZwr2-ovBsq2n3ACCKoEjUe2wjZSDd4ua_dT9VBiU4.woff2);

			}
		

		div.call 
		{
			vertical-align: top;
			display: inline-block;
			text-align: center;
			width: 320px;
			margin: 50px;


		}
		
		img
		{
			width: 60px;
			height: 60px;
			margin: 10px;
			

		}
		span.caption 
		{
			display: block;
			font-family: 'myfont','tahoma';
			font-size: 25px;

		}	
		iframe
		{
			width: 100%;
			height: 400px;
			margin-top: 100px;

		}
		/*form
		{
			width: 450;
			height: 460;
			margin: 20px;
			padding: 30px;
			border:2px solid rgba(0,0,0,0.5);
			border-radius: 5px;
			background-color: white;
			box-shadow:  rgba(0,0,0,0.5) 0px 0px 13px 3px;

		}*/
		input,textarea
		{
			padding: 9px;
			margin: 7px;
			border:solid 1px pink ;
			outline: 0;
			font:normal 13px verdana,tahoma;
			width: 183px;
			box-shadow: rgba(255,0,0,0.5) 0px 0px 10px;
			-moz-box-shadow: rgba(255,0,0,0.5) 0px 0px 10px;
			-webkit-box-shadow: rgba(255,0,0,0.5) 0px 0px 20px;
			background: -webkit-gradient(linear,left top,left 25,from(#FFFFFF),color-stop(20%,#fefbfa), to(#FFFFFF));
			background:-moz-linear-gradient(top,#fefbfa,white,25px);
		}
		textarea
		{
			width: 400px;
			height: 150px;

		}
		input:hover ,textarea:hover,
		input:focus, textarea:focus
		{
			border-color:  blue;
			box-shadow: rgba(0,0,0,0.5) 0px 0px 13px 3px;
		}
		.submit input
		{
			width: auto;
			padding: 9px 15px;
			background: pink;
			border:0;
			font-size: 14px;
			color: #FFFFFF;
			border-radius: 20px;
		}
		.submit input:hover 
		{
			background-color: white;
			color:pink;

		}



